*{
    margin: none;
    padding: none;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

body {
    background: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", Arial, sans-serif;
    height: 100vh;
    background-image: url(/foto/ungu.jpg);
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-wrapper {
    background: transparent;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    /* transform: scale(1);
    transition: transform 0.3s ease; */
}

.form-wrapper:hover {
    /* transform: scale(1.02); */
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 1.5rem;
    color: #333;
}

.input-group {
    margin: 0 10px;
    margin-bottom: 1rem;
    padding: 8px;
    position: relative;
}

.input-group {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

label {
    display: block;
    margin: 0 0 8px 0;
    color: #ffffff;
}

label a {
    text-decoration: none;
    color: #ffffff;
    padding: 0;
    /* transform: scale(1);
    transition: transform 0.3s ease, font-size 0.3s ease; */
}

input {
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: transparent;
    transition: border-color 0.3s ease;
    transition: transform 0.3s ease, font-size 0.3s ease;
    margin: 0 0 0 0;
}

input:focus {
    border-color: #007bff;
    outline: none;
    transform: scale(1.02);
}

input:hover {
    transform: scale(1.05);
    background-size: 20px;
    border-color: #007bff;
}

button {
    position: relative;
    left: 39px;
    width: 370px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    border: rgba(0, 0, 0, 0.2) solid 0.3px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background-size: 20px;
    border-color: #007bff;
}

.login {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4x;
    position: relative;
    left: -25px;
}

.login .klikmasuk {
    padding-left: 1px;
    font-weight: bold;
}

.login .klikmasuk:hover {
    color: #007bff;

}

input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.h2 {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}